that DH AE T
there DH EH R
cant K AE N T
do D UW
it IH T
no N OW
no N OW
it IH T
fit F IH T
it IH T
fit F IH T
no N OW
no N OW
it IH T
fit F IH T
there DH EH R
fit F IH T
yeah Y AE
close K L OW S
it IH T
close K L OW S
it IH T
close K L OW S
it IH T
dog D AO G
food F UW D
food F UW D
here HH IH R
around ER AW N D
cant K AE N T
reach R IY CH
cant K AE N T
get G EH T
this DH IH S
how HH AW
about AH B AW T
that DH AE T
one W AH N
got G AA T
it IH T
got G AA T
it IH T
a AH
a AH
cold K OW L D
where W EH R
my M AY
car K AA R
that DH AE T
here HH IH R
where W EH R
my M AY
car K AA R
where W EH R
my M AY
where W EH R
my M AY
where W EH R
my M AY
here HH IH R
it IH T
is IH Z
how HH AW
about AH B AW T
how HH AW
about AH B AW T
this DH IH S
yeah Y AE
try T R AY
shark SH AA R K
daddy D AE D IY
that DH AE T
that DH AE T
he HH IY
got G AA T
yes Y EH S
go G OW
he HH IY
want W AA N T
it IH T
how HH AW
about AH B AW T
shark SH AA R K
someone S AH M W AH N
how HH AW
about AH B AW T
shark SH AA R K
my M AY
mommy M AA M IY
bear B EH R
mommy M AA M IY
bear B EH R
a AH
mama M AA M AH
bear B EH R
want W AA N T
another AH N AH DH ER
one W AH N
want W AA N T
yeah Y AE
no N OW
want W AA N T
another AH N AH DH ER
one W AH N
no N OW
want W AA N T
another AH N AH DH ER
leaf L IY F
want W AA N T
another AH N AH DH ER
leaf L IY F
the DH AH
leaf L IY F
want W AA N T
another AH N AH DH ER
leaf L IY F
want W AA N T
another AH N AH DH ER
leaf L IY F
want W AA N T
another AH N AH DH ER
leaf L IY F
want W AA N T
another AH N AH DH ER
leaf L IY F
that DH AE T
not N AA T
leaf L IY F
that DH AE T
not N AA T
leaf L IY F
not N AA T
leaf L IY F
not N AA T
leaf L IY F
leaf L IY F
leaf L IY F
that DH AE T
not N AA T
leaf L IY F
not N AA T
leaf L IY F
that DH AE T
not N AA T
leaf L IY F
carry K AE R IY
this DH IH S
please P L IY Z
yeah Y AE
how HH AW
about AH B AW T
this DH IH S
one W AH N
how HH AW
about AH B AW T
this DH IH S
one W AH N
no N OW
fit F IH T
do D UW
you Y UW
see S IY
it IH T
yeah Y AE
around ER AW N D
cant K AE N T
push P UH SH
more M AO R
please P L IY Z
yeah Y AE
push P UH SH
yeah Y AE
car K AA R
way W EY
the DH AH
car K AA R
way W EY
sure SH UH R
you Y UW
turn T ER N
the DH AH
car K AA R
way W EY
this DH IH S
slide S L AY D
the DH AH
car K AA R
slide S L AY D
yeah Y AE
wee W IY
the DH AH
slide S L AY D
yeah Y AE
wee W IY
the DH AH
slide S L AY D
the DH AH
cars K AA R Z
thanks TH AE NG K S
sure SH UH R
there DH EH R
you Y UW
go G OW
there DH EH R
you Y UW
go G OW
no N OW
ma M AA
have HH AE V
it IH T
no N OW
ma M AA
have HH AE V
it IH T
want W AA N T
mine M AY N
want W AA N T
mine M AY N
go G OW
where W EH R
it IH T
go G OW
there DH EH R
you Y UW
go G OW
no N OW
there DH EH R
there DH EH R
go G OW
yeah Y AE
your Y AO R
turn T ER N
push P UH SH
these DH IY Z
the DH AH
bird B ER D
the DH AH
bird B ER D
cant K AE N T
to T UW
want W AA N T
mommy M AA M IY
want W AA N T
mommy M AA M IY
where W EH R
it IH T
go G OW
where W EH R
it IH T
go G OW
where W EH R
it IH T
go G OW
where W EH R
it IH T
go G OW
where W EH R
it IH T
go G OW
where W EH R
it IH T
go G OW
where W EH R
it IH T
go G OW
a AH
bear B EH R
a AH
cake K EY K
yeah Y AE
yeah Y AE
snakes S N EY K S
snake S N EY K
a AH
fork F AO R K
a AH
fork F AO R K
fishes F IH SH AH Z
no N OW
a AH
big B IH G
one W AH N
yeah Y AE
a AH
no N OW
a AH
lion L AY AH N
a AH
telephone T EH L AH F OW N
flowers F L AW ER Z
what W AH T
stairs S T EH R Z
no N OW
a AH
monkey M AH NG K IY
no N OW
banana B AH N AE N AH
the DH AH
bed B EH D
please P L IY Z
broken B R OW K AH N
a AH
tiger T AY G ER
is IH Z
it IH T
broken B R OW K AH N
a AH
bed B EH D
a AH
turtle T ER T AH L
that DH AE T
that DH AE T
that DH AE T
the DH AH
baby B EY B IY
a AH
mommy M AA M IY
no N OW
more M AO R
duck D AH K
baby B EY B IY
daddy D AE D IY
yeah Y AE
daddy D AE D IY
right R AY T
here HH IH R
mama M AA M AH
hurting HH ER T IH NG
no N OW
face F EY S
face F EY S
surprise S ER P R AY Z
please P L IY Z
there DH EH R
go G OW
mommy M AA M IY
another AH N AH DH ER
one W AH N
plates P L EY T S
where W EH R
the DH AH
milk M IH L K
how HH AW
about AH B AW T
what W AH T
color K AH L ER
pink P IH NG K
look L UH K
pink P IH NG K
red R EH D
red R EH D
on AA N
my M AY
head HH EH D
there DH EH R
a AH
cookie K UH K IY
that DH AE T
one W AH N
where W EH R
a AH
plate P L EY T
where W EH R
a AH
plate P L EY T
where W EH R
a AH
plate P L EY T
a AH
plate P L EY T
a AH
plate P L EY T
how HH AW
about AH B AW T
plate P L EY T
how HH AW
about AH B AW T
plate P L EY T
yeah Y AE
how HH AW
about AH B AW T
cow K AW
where W EH R
the DH AH
plate P L EY T
no N OW
more M AO R
cookie K UH K IY
no N OW
put P UH T
the DH AH
table T EY B AH L
what W AH T
doing D UW IH NG
a AH
bottle B AA T AH L
a AH
bottle B AA T AH L
a AH
bottle B AA T AH L
help HH EH L P
no N OW
thanks TH AE NG K S
fine F AY N
look L UH K
see S IY
see S IY
mommy M AA M IY
want W AA N T
another AH N AH DH ER
pig P IH G
want W AA N T
another AH N AH DH ER
want W AA N T
another AH N AH DH ER
one W AH N
want W AA N T
another AH N AH DH ER
want W AA N T
another AH N AH DH ER
want W AA N T
another AH N AH DH ER
that DH AE T
pig P IH G
need N IY D
to T UW
wash W AA SH
it IH T
my M AY
slipper S L IH P ER
my M AY
slipper S L IH P ER
