this DH IH S
mama M AA M AH
this DH IH S
this DH IH S
look L UH K
cracker K R AE K ER
it IH T
is IH Z
a AH
monkey M AH NG K IY
right R AY T
there DH EH R
cant K AE N T
remember R AH M EH M B ER
orange AO R AH N JH
orange AO R AH N JH
where W EH R
juice JH UW S
ring R IH NG
it IH T
orange AO R AH N JH
color K AH L ER
this DH IH S
her HH ER
crown K R AW N
it IH T
have HH AE V
it IH T
on AA N
no N OW
why W AY
that DH AE T
girl G ER L
a AH
ring R IH NG
again AH G EH N
purple P ER P AH L
it IH T
just JH AH S T
one W AH N
her HH ER
magic M AE JH IH K
wand W AA N D
this DH IH S
her HH ER
sister S IH S T ER
her HH ER
flower F L AW ER
color K AH L ER
this DH IH S
one W AH N
blue B L UW
yeah Y AE
yeah Y AE
blue B L UW
one W AH N
yeah Y AE
can K AE N
do D UW
it IH T
look L UH K
this DH IH S
page P EY JH
a AH
her HH ER
feet F IY T
her HH ER
hair HH EH R
orange AO R AH N JH
your Y AO R
favorite F EY V ER AH T
color K AH L ER
that DH AE T
blue B L UW
favorite F EY V ER AH T
color K AH L ER
pink P IH NG K
okay OW K EY
the DH AH
elephant EH L AH F AH N T
this DH IH S
one W AH N
yellow Y EH L OW
or AO R
purple P ER P AH L
green G R IY N
pink P IH NG K
know N OW
look L UH K
the DH AH
is IH Z
a AH
flower F L AW ER
tail T EY L
blue B L UW
it IH T
need N IY D
more M AO R
right R AY T
there DH EH R
color K AH L ER
and AE N D
some S AH M
right R AY T
there DH EH R
that DH AE T
color K AH L ER
the DH AH
color K AH L ER
right R AY T
there DH EH R
time T AY M
out AW T
right R AY T
here HH IH R
okay OW K EY
that DH AE T
color K AH L ER
look L UH K
it IH T
can K AE N
color K AH L ER
the DH AH
leaves L IY V Z
a AH
doll D AA L
doll D AA L
not N AA T
look L UH K
you Y UW
make M EY K
the DH AH
pants P AE N T S
can K AE N
you Y UW
do D UW
the DH AH
pants P AE N T S
yeah Y AE
bear B EH R
know N OW
no N OW
want W AA N T
to T UW
color K AH L ER
know N OW
push P UH SH
know N OW
kind K AY N D
of AH V
red R EH D
color K AH L ER
cant K AE N T
color K AH L ER
want W AA N T
another AH N AH DH ER
color K AH L ER
yellow Y EH L OW
yellow Y EH L OW
little L IH T AH L
yellow Y EH L OW
yellow Y EH L OW
flower F L AW ER
color K AH L ER
the DH AH
the DH AH
leaves L IY V Z
want W AA N T
sit S IH T
right R AY T
there DH EH R
with W IH DH
red R EH D
one W AH N
two T UW
get G EH T
going G OW IH NG
get G EH T
be B IY
back B AE K
need N IY D
that DH AE T
eyes AY Z
look L UH K
the DH AH
want W AA N T
color K AH L ER
pink P IH NG K
a AH
movie M UW V IY
color K AH L ER
want W AA N T
green G R IY N
yeah Y AE
yeah Y AE
my M AY
favorite F EY V ER AH T
color K AH L ER
my M AY
favorite F EY V ER AH T
color K AH L ER
my M AY
favorite F EY V ER AH T
color K AH L ER
my M AY
favorite F EY V ER AH T
color K AH L ER
my M AY
favorite F EY V ER AH T
color K AH L ER
my M AY
favorite F EY V ER AH T
color K AH L ER
this DH IH S
is IH Z
my M AY
color K AH L ER
this DH IH S
is IH Z
the DH AH
my M AY
color K AH L ER
for F AO R
dad D AE D
its IH T S
favorite F EY V ER AH T
color K AH L ER
two T UW
that DH AE T
for F AO R
my M AY
two T UW
two T UW
and AE N D
a AH
half HH AE F
am AE M
have HH AE V
flower F L AW ER
this DH IH S
one W AH N
work W ER K
have HH AE V
can K AE N
have HH AE V
want W AA N T
purple P ER P AH L
green G R IY N
blue B L UW
blue B L UW
this DH IH S
one W AH N
red R EH D
pink P IH NG K
it IH T
fell F EH L
it IH T
juice JH UW S
this DH IH S
one W AH N
not N AA T
get G EH T
go G OW
yeah Y AE
color K AH L ER
pink P IH NG K
just JH AH S T
colored K AH L ER D
her HH ER
need N IY D
to T UW
color K AH L ER
her HH ER
the DH AH
leaf L IY F
want W AA N T
to T UW
color K AH L ER
this DH IH S
no N OW
no N OW
more M AO R
no N OW
cant K AE N T
we W IY
dump D AH M P
it IH T
out AW T
the DH AH
door D AO R
yeah Y AE
a AH
little L IH T AH L
you Y UW
can K AE N
color K AH L ER
it IH T
drop D R AA P
no N OW
this DH IH S
all AO L
this DH IH S
yeah Y AE
man M AE N
more M AO R
door D AO R
the DH AH
wrong R AO NG
way W EY
already AO L R EH D IY
get G EH T
to T UW
color K AH L ER
in AH N
my M AY
got G AA T
this DH IH S
its IH T S
all AO L
gone G AO N
my M AY
bubble B AH B AH L
where W EH R
my M AY
bubbles B AH B AH L Z
that DH AE T
one W AH N
is IH Z
orange AO R AH N JH
for F AO R
me M IY
its IH T S
writing R AY T IH NG
yeah Y AE
do D UW
brown B R AW N
black B L AE K
no N OW
want W AA N T
to T UW
wear W EH R
it IH T
why W AY
airplane EH R P L EY N
airplane EH R P L EY N
where W EH R
take T EY K
off AO F
why W AY
can K AE N
hold HH OW L D
them DH EH M
while W AY L
coloring K AH L ER IH NG
an AE N
alligator AE L AH G EY T ER
squeeze S K W IY Z
squeeze S K W IY Z
why W AY
no N OW
want W AA N T
to T UW
color K AH L ER
no N OW
okay OW K EY
gonna G AA N AH
hold HH OW L D
him HH IH M
