whoa W OW
oh OW
no N OW
a AH
mess M EH S
a AH
mess M EH S
two T UW
two T UW
two T UW
oh OW
no N OW
two T UW
two T UW
two T UW
two T UW
two T UW
oh OW
no N OW
no N OW
bird B ER D
tub T AH B
cup K AH P
hi HH AY
bird B ER D
duck D AH K
oh OW
no N OW
oh OW
no N OW
oh OW
no N OW
oh OW
no N OW
hello HH AH L OW
hello HH AH L OW
oh OW
no N OW
go G OW
oh OW
no N OW
stop S T AA P
stop S T AA P
got G AA T
oh OW
no N OW
oh OW
yeah Y AE
red R EH D
this DH IH S
is IH Z
milk M IH L K
milk M IH L K
milk M IH L K
no N OW
no N OW
no N OW
a AH
ball B AO L
a AH
ball B AO L
know N OW
where W EH R
is IH Z
a AH
ball B AO L
ears IH R Z
cheeks CH IY K S
bye B AY
oh OW
no N OW
