another AH N AH DH ER
eye AY
were W ER
gonna G AA N AH
make M EY K
a AH
ball B AO L
make M EY K
a AH
make M EY K
a AH
shape SH EY P
making M EY K IH NG
a AH
shape SH EY P
making M EY K IH NG
a AH
shape SH EY P
make M EY K
a AH
triangle T R AY AE NG G AH L
yeah Y AE
and AE N D
making M EY K IH NG
a AH
ball B AO L
okay OW K EY
gonna G AA N AH
make M EY K
a AH
flower F L AW ER
making M EY K IH NG
a AH
you Y UW
making M EY K IH NG
a AH
shape SH EY P
know N OW
a AH
shape SH EY P
gonna G AA N AH
make M EY K
a AH
circle S ER K AH L
gonna G AA N AH
make M EY K
a AH
circle S ER K AH L
gonna G AA N AH
making M EY K IH NG
the DH AH
circle S ER K AH L
got G AA T
triangle T R AY AE NG G AH L
got G AA T
triangle T R AY AE NG G AH L
yeah Y AE
sure SH UH R
have HH AE V
one W AH N
too T UW
a AH
happy HH AE P IY
face F EY S
a AH
happy HH AE P IY
face F EY S
a AH
little L IH T AH L
eyes AY Z
another AH N AH DH ER
one W AH N
another AH N AH DH ER
happy HH AE P IY
face F EY S
eye AY
a AH
eye AY
a AH
eye AY
nose N OW Z
her HH ER
making M EY K IH NG
the DH AH
her HH ER
eye AY
her HH ER
making M EY K IH NG
the DH AH
her HH ER
eye AY
a AH
circle S ER K AH L
a AH
circle S ER K AH L
the DH AH
square S K W EH R
three TH R IY
shapes SH EY P S
circle S ER K AH L
triangle T R AY AE NG G AH L
square S K W EH R
a AH
water W AO T ER
a AH
water W AO T ER
yeah Y AE
and AE N D
my M AY
milk M IH L K
toy T OY
play P L EY
play P L EY
mine M AY N
mine M AY N
no N OW
mine M AY N
mine M AY N
my M AY
play P L EY
it IH T
play P L EY
with W IH DH
the DH AH
yeah Y AE
no N OW
okay OW K EY
okay OW K EY
my M AY
ball B AO L
ball B AO L
of AH V
a AH
mouth M AW TH
hi HH AY
doing D UW IH NG
another AH N AH DH ER
circle S ER K AH L
another AH N AH DH ER
triangle T R AY AE NG G AH L
her HH ER
making M EY K IH NG
another AH N AH DH ER
triangle T R AY AE NG G AH L
her HH ER
making M EY K IH NG
another AH N AH DH ER
triangle T R AY AE NG G AH L
making M EY K IH NG
another AH N AH DH ER
one W AH N
a AH
square S K W EH R
the DH AH
girl G ER L
girl G ER L
girl G ER L
girl G ER L
girl G ER L
girl G ER L
another AH N AH DH ER
triangle T R AY AE NG G AH L
hi HH AY
baby B EY B IY
doll D AA L
my M AY
my M AY
want W AA N T
this DH IH S
a AH
this DH IH S
a AH
want W AA N T
this DH IH S
a AH
want W AA N T
the DH AH
sit S IH T
the DH AH
baby B EY B IY
the DH AH
baby B EY B IY
put P UH T
right R AY T
there DH EH R
no N OW
the DH AH
chair CH EH R
funny F AH N IY
whoa W OW
whoa W OW
baby B EY B IY
baby B EY B IY
fly F L AY
jump JH AH M P
jump JH AH M P
jump JH AH M P
fall F AA L
down D AW N
slide S L AY D
slide S L AY D
down D AW N
slide S L AY D
slide S L AY D
down D AW N
slide S L AY D
okay OW K EY
know N OW
making M EY K IH NG
the DH AH
slide S L AY D
okay OW K EY
making M EY K IH NG
the DH AH
making M EY K IH NG
the DH AH
making M EY K IH NG
the DH AH
slide S L AY D
gonna G AA N AH
slide S L AY D
down D AW N
slide S L AY D
flying F L AY IH NG
one W AH N
time T AY M
three TH R IY
three TH R IY
down D AW N
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
want W AA N T
the DH AH
slide S L AY D
park P AA R K
at AE T
the DH AH
park P AA R K
yeah Y AE
slide S L AY D
down D AW N
slide S L AY D
down D AW N
yeah Y AE
slide S L AY D
down D AW N
at AE T
school S K UW L
her HH ER
drinking D R IH NG K IH NG
her HH ER
drinking D R IH NG K IH NG
her HH ER
milk M IH L K
play P L EY
want W AA N T
to T UW
play P L EY
the DH AH
this DH IH S
part P AA R T
yeah Y AE
no N OW
the DH AH
frog F R AA G
house HH AW S
a AH
frog F R AA G
house HH AW S
frog F R AA G
house HH AW S
yeah Y AE
yeah Y AE
know N OW
carrot K AE R AH T
yeah Y AE
the DH AH
the DH AH
the DH AH
car K AA R
yeah Y AE
off AO F
okay OW K EY
want W AA N T
that DH AE T
off AO F
want W AA N T
that DH AE T
off AO F
want W AA N T
the DH AH
the DH AH
car K AA R
want W AA N T
the DH AH
the DH AH
car K AA R
need N IY D
help HH EH L P
please P L IY Z
off AO F
please P L IY Z
want W AA N T
off AO F
please P L IY Z
want W AA N T
off AO F
want W AA N T
off AO F
crash K R AE SH
crash K R AE SH
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
stop S T AA P
ride R AY D
ride R AY D
riding R AY D IH NG
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
up AH P
down D AW N
ride R AY D
ride R AY D
careful K EH R F AH L
get G EH T
off AO F
off AO F
off AO F
