the DH AH
mommy M AA M IY
one W AH N
the DH AH
baby B EY B IY
one W AH N
yeah Y AE
want W AA N T
look L UH K
at AE T
the DH AH
duck D AH K
and AE N D
a AH
ring R IH NG
swim S W IH M
swimming S W IH M IH NG
quack K W AE K
quack K W AE K
quack K W AE K
yeah Y AE
it IH T
belong B AH L AO NG
on AA N
my M AY
back B AE K
on AA N
my M AY
back B AE K
my M AY
back B AE K
want W AA N T
on AA N
on AA N
my M AY
back B AE K
my M AY
back B AE K
want W AA N T
on AA N
my M AY
back B AE K
want W AA N T
it IH T
on AA N
my M AY
back B AE K
want W AA N T
it IH T
on AA N
my M AY
back B AE K
yeah Y AE
want W AA N T
my M AY
back B AE K
yeah Y AE
yeah Y AE
some S AH M
on AA N
my M AY
shirt SH ER T
there DH EH R
there DH EH R
we W IY
go G OW
there DH EH R
we W IY
go G OW
like L AY K
this DH IH S
there DH EH R
we W IY
go G OW
fixed F IH K S T
it IH T
fixed F IH K S T
it IH T
right R AY T
now N AW
what W AH T
these DH IY Z
right R AY T
here HH IH R
what W AH T
these DH IY Z
it IH T
right R AY T
here HH IH R
yeah Y AE
and AE N D
that DH AE T
cow K AW
right R AY T
there DH EH R
that DH AE T
yeah Y AE
right R AY T
there DH EH R
and AE N D
and AE N D
the DH AH
right R AY T
there DH EH R
yeah Y AE
the DH AH
the DH AH
the DH AH
the DH AH
the DH AH
the DH AH
pig P IH G
on AA N
the DH AH
table T EY B AH L
he HH IY
got G AA T
go G OW
on AA N
not N AA T
my M AY
juice JH UW S
no N OW
yeah Y AE
the DH AH
toilet T OY L AH T
he HH IY
sat S AE T
down D AW N
going G OW IH NG
on AA N
the DH AH
an AE N
alligator AE L AH G EY T ER
no N OW
a AH
a AH
friend F R EH N D
of AH V
the DH AH
kitty K IH T IY
his HH IH Z
friend F R EH N D
yeah Y AE
yeah Y AE
them DH EH M
are AA R
dirty D ER T IY
they DH EY
not N AA T
take T EY K
a AH
bath B AE TH
and AE N D
them DH EH M
a AH
duck D AH K
quack K W AE K
quack K W AE K
the DH AH
baby B EY B IY
one W AH N
what W AH T
cookies K UH K IY Z
goldfish G OW L D F IH SH
and AE N D
cookie K UH K IY
and AE N D
another AH N AH DH ER
cookie K UH K IY
for F AO R
you Y UW
no N OW
that DH AE T
cookie K UH K IY
for F AO R
you Y UW
yeah Y AE
the DH AH
pig P IH G
the DH AH
cow K AW
is IH Z
hungry HH AH NG G R IY
yeah Y AE
and AE N D
the DH AH
alligator AE L AH G EY T ER
wants W AA N T S
that DH AE T
you Y UW
like L AY K
the DH AH
alligator AE L AH G EY T ER
here HH IH R
here HH IH R
alligator AE L AH G EY T ER
to T UW
the DH AH
chocolate CH AO K L AH T
cookie K UH K IY
he HH IY
like L AY K
and AE N D
an AE N
for F AO R
you Y UW
green G R IY N
beans B IY N Z
yeah Y AE
green G R IY N
beans B IY N Z
all AO L
done D AH N
all AO L
done D AH N
all AO L
done D AH N
have HH AE V
enough AH N AH F
and AE N D
here HH IH R
the DH AH
you Y UW
cannot K AE N AA T
catch K AE CH
me M IY
you Y UW
cannot K AE N AA T
catch K AE CH
me M IY
the DH AH
man M AE N
you Y UW
cannot K AE N AA T
catch K AE CH
me M IY
the DH AH
man M AE N
another AH N AH DH ER
goldfish G OW L D F IH SH
goldfish G OW L D F IH SH
goes G OW Z
here HH IH R
another AH N AH DH ER
goldfish G OW L D F IH SH
they DH EY
could K UH D
they DH EY
look L UH K
many M EH N IY
a AH
goldfish G OW L D F IH SH
have HH AE V
look L UH K
many M EH N IY
goldfish G OW L D F IH SH
have HH AE V
you Y UW
know N OW
what W AH T
number N AH M B ER
is IH Z
to T UW
you Y UW
know N OW
what W AH T
so S OW
and AE N D
here HH IH R
elephant EH L AH F AH N T
an AE N
elephant EH L AH F AH N T
cookie K UH K IY
what W AH T
you Y UW
want W AA N T
to T UW
horse HH AO R S
no N OW
want W AA N T
this DH IH S
no N OW
want W AA N T
the DH AH
ballerina B AE L ER IY N AH
one W AH N
want W AA N T
this DH IH S
one W AH N
no N OW
want W AA N T
another AH N AH DH ER
one W AH N
the DH AH
bird B ER D
like L AY K
this DH IH S
one W AH N
he HH IY
likes L AY K S
he HH IY
the DH AH
bird B ER D
likes L AY K S
yeah Y AE
yeah Y AE
cookies K UH K IY Z
cookies K UH K IY Z
a AH
table T EY B AH L
for F AO R
everybody EH V R IY B AA D IY
the DH AH
table T EY B AH L
go G OW
it IH T
there DH EH R
okay OW K EY
go G OW
right R AY T
there DH EH R
there DH EH R
it IH T
fits F IH T S
right R AY T
there DH EH R
a AH
cat K AE T
he HH IY
can K AE N
eat IY T
and AE N D
them DH EH M
can K AE N
eat IY T
cake K EY K
a AH
for F AO R
everybody EH V R IY B AA D IY
everybody EH V R IY B AA D IY
share SH EH R
the DH AH
for F AO R
everybody EH V R IY B AA D IY
that DH AE T
bunny B AH N IY
look L UH K
got G AA T
with W IH DH
my M AY
friend F R EH N D
yeah Y AE
he HH IY
may M EY
go G OW
my M AY
here HH IH R
a AH
clam K L AE M
and AE N D
his HH IH Z
what W AH T
is IH Z
this DH IH S
look L UH K
bunny B AH N IY
rabbit R AE B IH T
no N OW
got G AA T
leave L IY V
that DH AE T
other AH DH ER
book B UH K
right R AY T
there DH EH R
yeah Y AE
there DH EH R
a AH
sheep SH IY P
one W AH N
a AH
sheep SH IY P
one W AH N
what W AH T
yeah Y AE
it IH T
is IH Z
it IH T
is IH Z
a AH
lion L AY AH N
and AE N D
this DH IH S
elephant EH L AH F AH N T
this DH IH S
elephant EH L AH F AH N T
to T UW
we W IY
have HH AE V
that DH AE T
plate P L EY T
what W AH T
we W IY
put P UH T
on AA N
our AW ER
plate P L EY T
what W AH T
what W AH T
we W IY
put P UH T
on AA N
our AW ER
plate P L EY T
no N OW
about AH B AW T
the DH AH
there DH EH R
the DH AH
bird B ER D
want W AA N T
to T UW
do D UW
it IH T
we W IY
got G AA T
a AH
we W IY
lose L UW Z
it IH T
we W IY
lost L AO S T
the DH AH
mommy M AA M IY
bird B ER D
she SH IY
know N OW
where W EH R
to T UW
eat IY T
my M AY
dinner D IH N ER
she SH IY
the DH AH
one W AH N
to T UW
eat IY T
my M AY
big B IH G
big B IH G
no N OW
cannot K AE N AA T
get G EH T
now N AW
no N OW
the DH AH
bird B ER D
like L AY K
mama M AA M AH
mama M AA M AH
mama M AA M AH
she SH IY
she SH IY
she SH IY
that DH AE T
baby B EY B IY
want W AA N T
yeah Y AE
